
.collapse{
    text-align: left;
    font-size:xx-large;
}
.navbar{
    background-color: antiquewhite;
}
.nav-link
{
    font-size: large;
}
.nav-link1{
    color:red;
    text-align: right;
    font-weight: bold;
}

/*.btn{
    background-color: rgb(234, 230, 227);
    color: black;
    outline-color: rgb(221, 209, 209);
    font-style: oblique;
    text-decoration: black;
}*/